# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Workspace config
*.code-workspace

# refind background
background.*

# folders
.font
.1password
.dictionary
.ical
.keys
.maps
.mail
.list

# SHSH blobs, saved screenshots, misc.
.archive
.ssh
.bash_history
.mysql_history
.python_history
.regex_history
.zsh_history
.bash/.bash_history
.python/.python_history
.regex/.regex_history
.zsh/.zsh_history
.mysql/.mysql_history
