# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Workspace config
*.code-workspace

# refind background
background.png

# SHSH blobs, saved screenshots
.archive

# Large folders
.font