#! /usr/local/bin/bash

# # * Directory
alias l="ls -la"       # List in long format, include dotfiles
alias ld="ls -ld */"    # List in long format, only directories
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias cd?='echo "Your current directory is $(pwd)"'

# # * Python
alias python=python3

# # * PlistBuddy
alias plistbuddy='rlwrap /usr/libexec/PlistBuddy'

# # * Shortcuts
alias %=battery

# # * Backup Homebrew packages
alias bundle='brew bundle dump --force --file=~/.dotfiles/.brew/.Brewfile'

# # * Chrome New Tab Background
alias newtab='source ~/.dotfiles/.chrome/.default/.rsyncwallpaper.sh'

# # * System Events
alias setup='source ~/.setup'
alias macos='source ~/.macos'
alias theme='source ~/.theme'
alias sysprefs='source ~/.sysprefs'
alias clean='source ~/.clean'
alias update='source ~/.update'
alias backup='source ~/.backup'
alias rEfind='source ~/.rEFInd'
alias brewshell='source ~/.brewshell'
alias reload='source ~/.bash_profile'

# # * Folder Paths
# [Bash Escape Sequences](https://unix.stackexchange.com/questions/108635/why-i-cant-escape-spaces-on-a-bash-script)
dotfiles=~/.dotfiles # $dotfiles
downloads=~/Downloads # $downloads
scanner=/Volumes/Drive/Workspace/Document/Scanner # $scanner
screenshot=/Volumes/Drive/Workspace/Document/Screenshot # $screenshot
icloud=~/Library/Mobile\ Documents/ # "$icloud"
light=/Volumes/Drive/Workspace/Setup/Wallpaper/Desktop/Light # $light
dark=/Volumes/Drive/Workspace/Setup/Wallpaper/Desktop/Dark # $dark
dusk=/Volumes/Drive/Workspace/Setup/Wallpaper/Desktop/Dusk # $dusk
neon=/Volumes/Drive/Workspace/Setup/Wallpaper/Desktop/Theme/neonspacecandy # $neon
winter=/Volumes/Drive/Workspace/Setup/Wallpaper/Desktop/Theme/winter # $winter
refind=/Volumes/Drive/Workspace/Setup/Mac/Boot\ Manager/rEFInd # "$refind"
