#! /usr/local/bin/bash

# # * Open man page as PDF
function manpdf() {
 man -t "${1}" | open -f -a /Applications/Preview.app/
}

# # * Create a new directory and enter it
function mk() {
  mkdir -p "$@" && cd "$@"
}

# # * Print battery percentage
function battery {
    pmset -g batt | xargs | awk '{print substr($8, 1, length($8)-1)}'
    }

# # * Convert screencast .format -> .gif
function Vid2Gif {
  echo -n "Filename: " && read filename # helloworld
  echo -n "Format: " && read format # mov
  echo -n "Framerate: " && read rate # ex 60
  echo -n "Size: " && read size # ex 2880x1900
  ffmpeg -i $filename.$format -vf scale=$size:-1 -r $rate -f image2pipe -vcodec ppm - | convert -delay 5 -layers Optimize -loop 0 - $filename.gif
  unset filename
  unset format
  unset rate
  unset size
}

function getWallPath {
  sqlite3 -readonly ~/Library/Application\ Support/Dock/desktoppicture.db 'SELECT * FROM data;'
  # osascript -e 'tell application "System Events" to tell first Desktop to display dialog its picture as text'
}

function urlencodepipe() {
  local LANG=C; local c; while IFS= read -r c; do
    case $c in [a-zA-Z0-9.~_-]) printf "$c"; continue ;; esac
    printf "$c" | od -An -tx1 | tr ' ' % | tr -d '\n'
  done <<EOF
$(fold -w1)
EOF
  echo
}

function NightWatch() {
  local a="Firefox"; local p="https"; local h="openpirate"; local d="org";
  open -a "$a" "$p"://"$h"."$d"/search/"$*"/0/3/0 | urlencodepipe ;
  # local a="Firefox"; local v="view-source"; local p="https"; local h="openpirate"; local d="org";
  # printf "NightWatch: " && read q ; # (optional read line into a 'q' variable; replace "$*" with "$q")
  # open -a "$a" "$v":"$p"://"$h"."$d"/search/"$(?=\s*\d+$)"/0/"$*[1-9]"/0 | urlencodepipe ;
}
