# # * Open man page as PDF
function manpdf() {
 man -t "${1}" | open -f -a /Applications/Preview.app/
}

# # * Create a new directory and enter it
function mk() {
  mkdir -p "$@" && cd "$@"
}

# # * Print battery percentage
function battery {
    pmset -g batt | xargs | awk '{print substr($8, 1, length($8)-1)}'
    }

function Mov2Gif {
  echo -n "Filename: " && read filename # helloworld
  echo -n "Framerate: " && read rate # ex 60
  echo -n "Size: " && read size # ex 2880x1900
  ffmpeg -i $filename.mov -s $size -pix_fmt rgb8 -r $rate -f gif - | gifsicle --optimize=3 --delay=3 > $filename.gif
  unset filename
  unset rate
  unset size
}